.testRoot {
  width: 100%;
  min-height: 500px;
  background-color: #333;
}

.framework {
  display: flex;
  gap: 120px;
  width: 100%;
}

.testList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
